<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - e_libraryProject</title>
    <script type="importmap"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/darkly/bootstrap.min.css"
          media="(prefers-color-scheme: dark)">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/e_libraryProject.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    e_libraryProject
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    <!-- LEFT SIDE -->
                    <ul class="navbar-nav flex-grow-1">

                        <!-- Home -->
                        <li class="nav-item">
                            <a class="nav-link text-dark"
                               asp-controller="Home"
                               asp-action="Index">
                                Home
                            </a>
                        </li>

                        <!-- Books -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark"
                               href="#"
                               role="button"
                               data-bs-toggle="dropdown">
                                Books
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item"
                                       asp-controller="Books"
                                       asp-action="Index">
                                        All Books
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       asp-controller="Books"
                                       asp-action="Create">
                                        Add Book
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!-- Authors -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark"
                               href="#"
                               role="button"
                               data-bs-toggle="dropdown">
                                Authors
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item"
                                       asp-controller="Authors"
                                       asp-action="Index">
                                        All Authors
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       asp-controller="Authors"
                                       asp-action="Create">
                                        Add Author
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark"
                               href="#"
                               role="button"
                               data-bs-toggle="dropdown">
                                Book Authors
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item"
                                       asp-controller="BookAuthors"
                                       asp-action="Index">
                                        Manage Links
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       asp-controller="BookAuthors"
                                       asp-action="Create">
                                        Link Book & Author
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               asp-controller="Reports"
                               asp-action="BooksByStatus">
                                Reports
                            </a>
                        </li>
                        <!-- Privacy -->
                        <li class="nav-item">
                            <a class="nav-link text-dark"
                               asp-controller="Home"
                               asp-action="Privacy">
                                Privacy
                            </a>
                        </li>
                        

                    </ul>

                    
                    <partial name="_LoginPartial" />

                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - e_libraryProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
